.bg  {
    background-image: url("img/trakarobg.PNG");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 4vw;
    background-color: white;
}

.bg2  {
    background-image: url("img/sample.png");
    background-size: 50vw;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: -1vw;
}

.bg-primary {
    background-color: #70AD46 !important;
  }

.bg-primary2 {
    background-color: #4d7023 !important;
}

.bg-primary2:hover {
    background-color: #EB9723 !important;
    transition: 0.4s;
    color: white;
}

.bg-primary2:focus {
    background-color: #EB9723 !important;
    color: white;
}

.bg-secondary2 {
    background-color: #ED7D31 !important;
}

.bg-secondary2:hover {
    transition: 0.4s;
    background-color: #EB9723 !important;
}

.bg-tertiary {
    background-color: white !important;
}

.bg-tertiarygreen {
    background-color: white !important;
}

.bg-tertiaryorange {
    background-color: white !important;
}

.bg-tertiarylight {
    background-color: white !important;
}

.bg-primaryorange {
    background-color: #ED7D31 !important;
}

.bg-tertiarygreen:hover {
    background-color: #4d7023 !important;
    transition: 0.4s;
    color: white;
}

.bg-tertiarygreen:focus {
    background-color: #4d7023 !important;
    outline:0;
    color: white;
}

.bg-tertiarylight:hover {
    background-color: #f8a531 !important;
    transition: 0.4s;
    color: white;
}

.bg-tertiarylight:focus {
    background-color: #f8a531 !important;
    outline:0;
    color: white;
}

.btn.lightactive {
    background-color: #f8a531 !important;
    color: white;
}

.btn.greenactive {
    background-color: #4d7023 !important;
    color: white;
}

.bg-primaryorange:hover {
    background-color: white !important;
    transition: 0.4s;
    color: #ED7D31;
}

.bg-primaryorange:focus {
    background-color: white !important;
    outline:0;
    color: #ED7D31;
}

.bg-tertiaryorange:hover {
    background-color: #ED7D31 !important;
    transition: 0.4s;
    color: white;
}

.bg-tertiaryorange:focus {
    background-color: #ED7D31 !important;
    outline:0;
    color: white;
}

.btn.orangeactive {
    background-color: #ED7D31 !important;
    color: white;
}

.bg-tertiarygray {
    background-color: gray !important;
    color: white;
}

.bg-tertiarygray:hover {
    background-color: white!important;
    color: gray;
}

.btn-transblack {
    background-color:#000000b9;
    color:white;
    border: 0.2vw solid white;
}

.btn-sm-green {
    width: 5vw;
    padding: 0.5vw 1vw 0.5vw 1vw;
    font-size: 1vw;
    border-radius: 2vw;
    text-align: center;
    border: 0.2vw solid #7aa323aa;
    color: #7aa323;
    margin-top: 3vw;
    margin-right: 3vw;
    cursor: pointer;
}

.btn-sm-green:hover {
    background-color: #7aa323;
    color: white !important;
}

.btn-transblack:hover {
    background-color:#000000;
    cursor:pointer;
}

.round0 {
    border-radius: 10px;
}

.round {
    border-radius: 20px;
}

.round-left {
    border-bottom-left-radius: 2vw;
    border-top-left-radius: 2vw;
}

.round-right {
    border-bottom-right-radius: 2vw;
    border-top-right-radius: 2vw;
}

.font1 {
    font-size: 0.8vw;
    font-weight: bold;
}

.font1b {
    font-size: 0.8vw;
}

.font2b {
    font-size: 1.4vw;
}

.font2 {
    font-size: 1.4vw;
    font-weight: bold;

}

.font3b {
    font-size: 2vw;
}

.font3 {
    font-size: 2vw;
    font-weight: bold;
}

.form-area
{
    background-color: #FAFAFA;
	padding: 0.3vw 2.1vw 0vw;
	margin: 0.5vw 0vw 0vw;
	border: 1px solid white !important;
    }

.text-white {
    color: white;
}

.text-green {
    color: #70AD46;
}

.text-light {
    color: #f8a531;
}

.text-gray {
    color: #7f7f7f;
}

.text-orange {
    color: #ED7D31;
}

#textbox {
    position: absolute;
    left: -2w;
    width:68.5vw;
    height:30vw;
    margin: 0vw;
    padding:1vw;
    font-size:1.2vw;
    border: 0.3vw solid #7f7f7f;
    color: black;
}

.thumb {
    position: relative;
    top: -15.78vw;
    height: 14vw;
    width: 21vw;
    border: 0.2vw solid black;
    margin: 0.5vw;
    opacity:0.7;
    object-fit: cover;
  }

input[type="file"] {
    display: none;
}

.loader {
    border: 16px solid #EB9723;
    border-radius: 5vw;
    border-top: 16px solid #4d7023;
    width: 9vw;
    height: 9vw;
    top: 17vw;
    left: 46vw;
    position: fixed;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
